@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url(https://images.unsplash.com/photo-1490578474895-699cd4e2cf59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
        background-size: cover;
        background-position:top;
    }
</style>

<h2> Our History</h2>

<p style="font-size: 20px;">Our compnay stared as a band of brothers passionate about Information Systems and music! We decided we wanted everyone to be able to play music so we began to rent out our instruments to those who were less fortunate then ourselves.</p>

<h2>Our Mission</h2>
<p style="font-size: 20px;">Our Mission is to help those who are passionate about music to get a chance to experience the joys of learning at a reasonable price!</p>

<br />
<h4>The picture shows the founders enjoying time outdoors</h4>