@{
    ViewBag.Title = "BlowOut Musical Instrument Rentals";
}
<!--
    Authors: Alma Thurber, Jacob Barnes, Jacob Hola, Bingdeng Wang
    Description: Checkpoint 4
-->
<link href="~/Content/CustomStyles.css" rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h2>Welcome to Blow Out Musical Instruments Rentals!</h2>
    <p class="lead">Here you are able to rent new and used instruments for killer prices</p>
    <p class="lead">Take a look around and you'll see why we blow our competition out of the water!</p>
</div>

<div class="row">
    <div class="col-md-9">
        <!--Just for spacing purposes-->

    </div>
    <div class="col-md-3" style="background-color: #ff8149">
        <div class="card myFooterText custCenter" style="width: 80%;">
            <div class="card-body">
                <div class="card-top">
                    <h5 class="card-title">Music Quotes</h5>
                </div>

                <p class="card-text">
                    "It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.
                    <br />
                    - Johann Sebastian Bach
                </p>
                <p><a class="btn btn-default" href="https://www.musicnotes.com/now/news/25-quotes-from-musicians-for-musicians/" target="_blank">See more Quotes &raquo;</a></p>
            </div>
        </div>
    </div>

</div>